image: python:latest

stages:
  - test
  - deploy

test:
  stage: test
  script:
  - python -m pip install -U sphinx
  - python -m pip install -U nbsphinx
  - python -m pip install -U nbsphinx-link
  - python -m pip install -U sphinx-rtd-theme
  - python -m pip install -U pandoc
  - sphinx-build -b html docs/source docs/build/public
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH
    
deploy-pages:
  stage: deploy
  script:
  - mkdir .public
  - cp -r docs/build/html/* .public
  artifacts:
    paths:
    - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

