image: python:latest

before_script:
 - apt-get update --yes
 - apt-get install --yes cmake
 - apt-get install --yes libblas3 liblapack3 liblapack-dev libblas-dev

cache:
  paths:
    - .cache/pip

stages:
  - build 
  - test 

build:
  stage: build
  script:
  - export CMAKE_BUILD_PARALLEL_LEVEL=4
  - python -m pip -v install ./
  - python -m pip install pytest
  - python -m pip install numpy
  - python -m pip install h5py
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

test:
  stage: test
  needs: 
  - build
  script:
  - python -m pytest
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

