#ignore everything except for the root directory to allows us to access things
*

#now include the required files in the pyTTN_ROOT_DIR
!/.gitignore
!/CMakeLists.txt
!/LICENSE.txt
!/pyproject.toml
!/pytest.ini
!/README.md
!/setup.py

#now we add the cmake folder and its files
!cmake
!cmake/FindCUTENSOR.cmake

#now we add the docs folder and its required folders
!docs
!docs/make.bat
!docs/MakeFile
!docs/source
!docs/source/*

#now we include the examples folder
!examples
!examples/*


#now we include the actual library include files
!include
!include/*
!include/**

#now we include the python bindings
!python
!python/*
!python/**

#now we include the pyttn python source files
!pyttn
!pyttn/*
!pyttn/**


#now we include the c++ src files
!src
!src/*

#now we include the tests file
!tests
!test/*
!test/**

#now we include the tutorials
!tutorials
!tutorials/*
!tutorials/**
